.main {
    padding: 5rem 0;
    
  .darktoggle {  
    position: absolute;
    right: 20px;
    top: 20px;
  }

    .contentList {
        border: solid red 1px;
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
    }

    .grid {
        
        max-width: 680px;
        margin: 0 auto;
    }

    .container {
        padding: 0 2rem;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        line-height: 1.6;

        img {
            border-radius: 50%;
            width: 125px;
            height: 125px;
            margin-bottom: 1.2rem;
        }

        h2 {
            font-size: 1.7rem;
            opacity: 0.8;
        }

        span {
            font-size: 1.254rem;
            opacity: 0.6;
        }
    }

    .content {
        margin-top: 2rem;
        line-height: 2.5;

        h2 {
            font-size: 1.6rem;
            opacity: 0.8;
            margin-bottom: 0.6rem;
        }

        .list {
            font-family: 'Archivo', sans-serif;
            flex-wrap: wrap;
            display: flex;
            justify-content: center;           
            gap: 1rem;

           
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex: 1 1 250px;
                    gap: 0.5rem;
                    background: #0060c0;
                    color: white;
                    transition: 0.5s all;
                    border-radius: 8px;
                
                    padding: 22px 54px;
                    font-size: 1.454rem;

                    svg {
                        font-size: 1.7rem;
                        color: white;
                    }

                    &:hover {
                        transform: scale(1.02);
                        transition: 0.5s all;
                    }
                }
          
        }
    }

    .Contentupgrade {        
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 1rem;
        gap: 1rem;


        .ListUpgrade {
            border-radius: 4px;
            padding: 28px 20px 12px;
            background: linear-gradient(to left, rgb(45, 38, 74), rgba(32, 32, 226, 0.586));
            .upgrade {
                display: flex;
                color: white;
                flex-direction: column;

                h2 {
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;
                    gap: 0.354rem;
                    margin-bottom: 1.2rem;

                    svg {
                        font-size: 1.7rem;
                    }
                }

                p {
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    font-size: 1.2rem;
                    margin-bottom: 0.8rem;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    color: white;
                    padding: 14px 0;
                    border-radius: 8px;
                    font-size: 1.254rem;
                }

                svg {
                    font-size: 1.6rem;
                    color: white;
                    opacity: 0.8;
                }
            }
        }
    }
}