.main {
    padding: 3rem 1rem 0;
    .grid {
        max-width: 832px;
        margin: 0 auto;
        padding: 0 1rem;
    }

        .container {
            display: inline-grid;
            width: 100%;
            grid-template-columns: 1fr;
            grid-gap: 1.5rem;
        

            .table {
                display: flex;
                overflow: auto;
                    table {
                        border-collapse: collapse;
                        border-spacing: 0;
                        width: 100%;
                        border: 1px solid #e2e8f0;
                        border-radius: 0.25rem;
                
                        thead {
                            border-bottom: 1px solid #e2e8f0;
                            text-align: left;
                            text-transform: uppercase;
                            letter-spacing: 0.04em;
                
                            tr {
                                height: 3.5rem;
                
                                th {
                                    padding: 0 1rem;
                                    font-size: 1.054rem;
                                    color: #29292e;
                                }
                            }
                        }
                        tbody {
                            tr {
                                height: 4.5rem;
                
                                td {
                                    padding: 0 1rem;
                                    font-size: 1.154rem;
                                    line-height: 1.45rem;
                                    
                                }
                            }
                
                            .id {
                                max-width: 150px;
                                overflow: hidden;
                                text-overflow: ellipsis;

                            }
                        }
                    }
                }
        
            .content {
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    input {
                        height: 2.5rem;
                        border: 1px solid #d7d7d7;
                        border-radius: 0.25rem;
                        padding: 1.5rem 1rem;
                        background: transparent;
                        font-size: 1.154rem;

                        &:disabled {
                            font-size: 1.1rem;
                            cursor: not-allowed;
                            background-color: none;
                        }

                        @media(max-width: 768px) {
                            padding: 1.654rem 1rem;
                        }

                    }

                    textarea {
                        height: 8rem;
                        border: 1px solid #d7d7d7;
                        border-radius: 0.25rem;
                        background: transparent;
                        resize: none;
                        padding: 1rem 1rem;
                        font-size: 1.154rem;
                        color: #29292e;

                        @media(max-width: 768px) {
                            height: 10rem;
                        }

                        &:disabled {
                            font-size: 1.1rem;
                            cursor: not-allowed;
                            background-color: none;
                        }
                    }

                    button[type="submit"] {
                        background-color: #00875F;
                        padding: 14px 10px; 
                        color: white;
                        border-radius: 4px;
                        font-size: 1.254rem;
                        transition: filter 0.2s;

                        &:hover {
                            filter: brightness(0.9);
                        }

                        &:disabled {
                            cursor: not-allowed;
                            filter: none;
                        }
                    }

                    select {
                        height: 3.5rem;
                        border: 1px solid #d7d7d7;
                        border-radius: 0.25rem;
                        color: #737380;
                        text-transform: capitalize;
                        padding: 0 1rem;
                        appearance: none;
                        font-size: 1.154rem;
                    }

                }

            }
            }
        }
    